APP_TITLE=Сервис бронирования столиков
DESCRIPTION=API для управления сервисом бронирования столиков

# база
DATABASE_URI=sqlite+aiosqlite:///./fastapi.db

# JWT
SECRET=asdkldfhdgteasadmnf3b7328fbdnsa

# первый суперпользователь
FIRST_SUPERUSER_EMAIL=root@admin.ru
FIRST_SUPERUSER_PASSWORD=root
ACCESS_TOKEN_EXPIRE_MINUTES = 600
FIRST_SUPERUSER_USERNAME=root
FIRST_SUPERUSER_ROLE=admin
FIRST_SUPERUSER_PHONE_NUMBER=+79991234567
DEBUG=True