# -------------------
# Общие настройки приложения
# -------------------
APP_TITLE=Сервис бронирования столиков
DESCRIPTION=API для управления сервисом бронирования столиков
DEBUG=True

# -------------------
# База данных
# -------------------
DATABASE_URI=sqlite+aiosqlite:///./fastapi.db

# -------------------
# JWT / безопасность
# -------------------
SECRET=SECRET
ACCESS_TOKEN_EXPIRE_MINUTES=600

# -------------------
# Первый суперпользователь
# -------------------
FIRST_SUPERUSER_EMAIL=root@admin.ru
FIRST_SUPERUSER_PASSWORD=password
FIRST_SUPERUSER_USERNAME=root
FIRST_SUPERUSER_ROLE=admin
FIRST_SUPERUSER_PHONE_NUMBER=+79999999999

# -------------------
# Логирование
# -------------------
LOG_FILE=app.log
MAX_BYTES=5242880          # 5 MB
BACKUP_COUNT=3
SYSTEM_USERNAME=SYSTEM

# -------------------
# Прочие
# -------------------
DEFAULT_USER_ID=0