# -------------------
# Общие настройки приложения
# -------------------
APP_TITLE=Сервис бронирования столиков
DESCRIPTION=API для управления сервисом бронирования столиков
DEBUG=False

# -------------------
# База данных
# -------------------
DB_USER=fastapi_user
DB_PASSWORD=supersecretpassword
DB_NAME=fastapi_db
DB_HOST=db
DB_PORT=5432
DB_ENGINE=postgres
DATABASE_URI=postgresql+asyncpg://fastapi_user:supersecretpassword@db:5432/fastapi_db

# -------------------
# Настройки повторных попыток БД
# -------------------
DB_RETRY_MAX_ATTEMPTS=3
DB_RETRY_DELAY_SECONDS=0.1

# -------------------
# JWT / безопасность
# -------------------
SECRET=asdkldfhdgteasadmnf3b7328fbdnsa
ACCESS_TOKEN_EXPIRE_MINUTES=600
JWT_ALGORITHM=HS256

# -------------------
# Первый суперпользователь
# -------------------
FIRST_SUPERUSER_EMAIL=root@admin.ru
FIRST_SUPERUSER_PASSWORD=Vx9!rT4qLp$2mZ
FIRST_SUPERUSER_USERNAME=root
FIRST_SUPERUSER_ROLE=admin
FIRST_SUPERUSER_PHONE_NUMBER=+79991234567
FIRST_SUPERUSER_NAME=root

# -------------------
# Логирование
# -------------------
LOG_FILE=app.log
MAX_BYTES=5242880
BACKUP_COUNT=3

# -------------------
# Брокер
# -------------------
CELERY_BROKER_URL=amqp://guest:guest@rabbit:5672//
CELERY_BACKEND_URL=rpc://

# -------------------
# Почта
# -------------------
EMAIL_SSL=smtp.yandex.ru
EMAIL_LOGIN=blackcarbot@yandex.ru
EMAIL_PASSWORD=thrgwwkjpyvhbtlz
